.AllReports-column {
    float: left;
    width: 25%;
    padding: 5px;
    flex-wrap: wrap;
    
  }
  /* Clearfix (clear floats) */
  .AllReports-row::after {
    content: “”;
    clear: both;
    display: table;
  }

  .AllReports-p {
      align-items: center;
  }

  .AllReports-img {
      max-width: 100%;
      height: 200px;
      width: 170px;
      margin-top: 20px;
      margin-bottom: 40px;
      

  }
  .AllReports-wrapper {
      display: flex;

  }

  .AllReports-sorting {
      flex: 1;
      min-width: 20%;

  }