@import '../index.style.css';

.Home-cardsWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.Home-cards {
    background-color: var(--darkBlue) !important;
    color: white;
    border-radius: 10px !important;
    margin: 0.15% !important;
}

.Home-formWrapper {
    width: 75%;
    padding: 1%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 25px !important;
}
.Home-formTitle {
    text-align: center;
}
.Home-formButton {
    display: flex !important;
    margin: auto !important;
}