@import '../index.style.css';


.SignIn-formWrapper {
   
    height: auto;
    width: 20%;
    padding: 1%;
    margin: 12.5% 40%;
    background-color: rgb(255, 255, 255);
    border-radius: 25px !important;
    
   
}
.SignIn-formTitle {
    text-align: center;
}
.SignIn-formButton {
    display: flex !important;
    margin: auto !important;
}
